{% trans_default_domain 'Layout' %}

{% for flash_message in app.session.flashbag.get('success') %}
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>{{ 'flash.header.success'|trans }}</strong> {{ flash_message }}
    </div>
{% endfor %}

{% for flash_message in app.session.flashbag.get('info') %}
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>{{ 'flash.header.info'|trans }}</strong> {{ flash_message }}
    </div>
{% endfor %}

{% for flash_message in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>{{ 'flash.header.warning'|trans }}</strong> {{ flash_message }}
    </div>
{% endfor %}

{% for flash_message in app.session.flashbag.get('danger') %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>{{ 'flash.header.danger'|trans }}</strong> {{ flash_message }}
    </div>
{% endfor %}
